#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix=/usr --libdir=lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_build-indep:
	$(MAKE) doc

override_dh_auto_install-indep:
	install -m 755 -d $(CURDIR)/debian/tmp/usr/share/doc/libgfxprim-doc
	install -m 644 doc/*.html $(CURDIR)/debian/tmp/usr/share/doc/libgfxprim-doc/
